<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog.apache.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Write logs to a file -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt"
                layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Write logs to the console -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- All logs of level Info and higher go to both the logfile and the console -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>
